*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
#root{
  width: 800px;
  margin: 0 auto;
  height: 1800px;
  background: pink;
  padding: 10px;
}
.container{
  font-family: Helvetica, sans-serif;
}
.container header a {
  color: red;
  padding: 18px;
}
.is-active{
  color: burlywood
}
.filter{
  color: gold;
}